[Unit]
Description=Slackbot Service
After=multi-user.target

[Service]
Type=simple
User=pi
Group=pi
ExecStart=/usr/bin/dash /home/pi/slackbot/slackbot/bootstrap.sh

[Install]
WantedBy=multi-user.target
