[Unit]
Description=Whiteboard Camera Service
After=multi-user.target

[Service]
Type=simple
User=pi
Group=pi
ExecStart=/usr/bin/python3 /home/pi/slackbot/camera/camera.py

[Install]
WantedBy=multi-user.target
